extends _views/main
include _views/post
include _views/menu

block main
  + post(page, 'page')
  if config.comment.active
    #comments.comments
      #hypercomments_widget
      script.
        _hcwp = window._hcwp || [];
        _hcwp.push({widget:"Stream", widget_id: #{config.comment.id}});
        (function() {
        if("HC_LOAD_INIT" in window)return;
        HC_LOAD_INIT = true;
        var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
        var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
        hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/#{config.comment.id}/"+lang+"/widget.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hcc, s.nextSibling);
        })();
      a.hc-link(href='http://hypercomments.com'
        rel = 'nofollow'
        title='comments widget') comments powered by HyperComments

block head
  title
    = `${page.title} - ${config.title}`

block menu
  + menu('page')
